<div class="conteudo">
  <app-carrossel>
  <p class="descricao">Blackpink (hangul: 블랙핑크; rr: Beullaegpingkeu; estilizado como BLACKPINK ou BLΛƆKPIИK)  <br>
    é um girl group sul-coreano formado pela YG Entertainment, consistindo das integrantes Jisoo, Jennie, Rosé  <br>
    e Lisa. O grupo estreou em agosto de 2016 com seu single álbum Square One, que contou com "Whistle" e  <br>
    "Boombayah", suas primeiras entradas número um na Gaon Digital <br>
     Chart da Coreia do Sul e na World Digital Song Sales da Billboard dos EUA, respectivamente</p>
    <section class="buttons">
      <button role="button" class="botao">
       <i class="fa fa-play" id="play"></i>Assistir agora
    </button>
    <button role="button" class="botao" onclick="eba()">
     <i class="fa fa-info-circle" id="info"></i>Mais informações
    </button>
    </section>
  </app-carrossel>
  </div>
<app-Filmes></app-Filmes>
<app-Rodape></app-Rodape>


