.conteudo{
  background-image: url('../../assets/bp.jpg');
  height: 500px;
  background-repeat: no-repeat;
  width: 100%;
  background-color: red;
  background-size: 2000px 1000px;

  }

  img{
    width: 500px;
    padding-left: 30px;
  }

  .descricao{
    color: #fff;
    font-weight: bold;
    padding-left: 20px;
  }
