<div class="conteudo">
  <img src="https://assets.stickpng.com/images/61489d36e8157300048d7015.png" alt="">
  <p class="descricao">Blackpink (hangul: 블랙핑크; rr: Beullaegpingkeu; estilizado como BLACKPINK ou BLΛƆKPIИK)  <br>
    é um girl group sul-coreano formado pela YG Entertainment, consistindo das integrantes Jisoo, Jennie, Rosé  <br>
    e Lisa. O grupo estreou em agosto de 2016 com seu single álbum Square One, que contou com "Whistle" e  <br>
    "Boombayah", suas primeiras entradas número um na Gaon Digital <br>
     Chart da Coreia do Sul e na World Digital Song Sales da Billboard dos EUA, respectivamente</p>
  <button>Assistir agora</button>
  <button>Mais informações</button>
</div>
