<div class="grupo">
  <video class="trailer" src="../../assets/VID_36100608_183107_853.mp4" controls="controls" autoplay="autoplay"></video>
  <img class="imagemnet" src="https://seeklogo.com/images/A/a-netflix-original-series-logo-1EB993CED2-seeklogo.com.png" alt="">
  <p class="titulo"></p>
  <button class="assistir">
    <img class="play" src="../../assets/play.jpg" alt="">
    Assistir
  </button>
  <p class="descricao">Blackpink (hangul: 블랙핑크; rr: Beullaegpingkeu; estilizado como BLACKPINK ou BLΛƆKPIИK)  <br>
    é um girl group sul-coreano formado pela YG Entertainment, consistindo das integrantes Jisoo, Jennie, Rosé  <br>
    e Lisa. O grupo estreou em agosto de 2016 com seu single álbum Square One, que contou com "Whistle" e  <br>
    "Boombayah", suas primeiras entradas número um na Gaon Digital <br>
     Chart da Coreia do Sul e na World Digital Song Sales da Billboard dos EUA, respectivamente</p>

     <p class="infoad">Integrantes: Rosé, Jisoo, Jennie, Lisa</p>
     <p class="infoad">Debut: 2016</p>
  <div>
    <img src="minhalista" alt="">
    <img src="classificar" alt="">
  </div>
  <p>Mvs</p>
  <div class="listamvs">
    <div>
      <div class="superior">
        <img src="../../assets/txt.jpg" alt="" class="capamv">
        <div class="infos">
          <p class="titulomv">1. Sugar Rush Ride</p>
          <img class="playmv" src="../../assets/play.jpg" alt="">
          <!-- <img class="play" src="../../assets/playwhite.png" alt=""> -->

        </div>
      </div>
      <p class="desc">Blackpink (hangul: 블랙핑크; rr: Beullaegpingkeu; estilizado como BLACKPINK ou BLΛƆKPIИK) </p>
    </div>
  </div>
</div>
