<div class="head">
  <div>
    <h2 class="titulo" routerLink="/inicio">K P O P F L I X </h2>
  </div>
    <div class="options">
      <p class="option" routerLink="/inicio">Inicio</p>
      <p class="option" routerLink="/mvs-em-alta">MVs</p>
      <p class="option" routerLink="/minha-lista">Minha Lista</p>
    </div>
    <div class="right">
      <input type="search" class="procurar" placeholder="O que você deseja assistir?">
      <img src="" alt="">
    </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
